Packages/com.ptc.vuforia.engine-10.18.4.tgz filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.18.4.tgz filter=lfs diff=lfs merge=lfs -text
C:/Users/Cevin/AR[[:space:]]Rumah/rumah.apk filter=lfs diff=lfs merge=lfs -text
